.sidebar-panel{
  text-align: right;
  /* display: block; */
  margin-bottom: 30px;
}
.sidebar-panel .btn:last-child{
  padding: 0 14px;
}
.sidebar-content{

}
.sidebar-content form{
  position: relative;
}
.sidebar-content form a{
  position: absolute;
  width: 40px;
  height: 40px;
  line-height: 2;
  color: rgb(18, 18, 18);
  right: 0;
  top: 0;
  text-align: center;
}

.sidebar-content input{
  display: block;
  padding: 4px 40px 4px 4px;
  height: 40px;
  width: 100%;
  margin-bottom: 20px;
  box-sizing: border-box;
}
.sidebar-content h4{
  margin: 10px 0;
  border-bottom: 1px solid rgba(255,255,255,.1);
  padding-bottom: 10px;
}
.sidebar-content h4 small{
  font-size: 12px;
  font-weight: normal;
  color: #666;
}
.sidebar-content p{
  line-height: 30px;
}
.sidebar-content li{
  height: 30px;
  line-height: 30px;
}
.sidebar-content li a small{
  font-size: 12px;
  color: #a23f3b;
  margin: 0 5px;
}
.sidebar-content li a{
  display: block;
  color: #fff;
}
.sidebar-content li a:hover{
  color: rgb(254, 187, 51);
}
/* 透明灰色层 */
    .mask {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 998;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,1);
      opacity: 0.5;
      overflow: hidden;

      animation: maskAnimation 0.5s;
      -webkit-animation: maskAnimation 0.5s; /* Safari and Chrome */

    }
    @keyframes maskAnimation
    {
    	0%   {opacity: 0;}
    	100% {opacity: 0.5;}
    }

    @-webkit-keyframes maskAnimation /* Safari and Chrome */
    {
    	0%   {opacity: 0;}
    	100% {opacity: 0.5;}
    }
    /* 弹出面板 */
    .pushbar {
      position: fixed;
      background: rgb(18, 18, 18);
      padding: 15px;
      box-sizing: border-box;
      color: #fff;
      left: auto;
      right: 0;
      top: 0;
      width: 300px;
      z-index: 999;

      animation: pushAnimation 0.5s;
      -webkit-animation: pushAnimation 0.5s; /* Safari and Chrome */

      height: 100%;

    }
    @keyframes pushAnimation
    {
    	0%   { right: -300px; }
    	100% { right: 0; }

    }

    @-webkit-keyframes pushAnimation /* Safari and Chrome */
    {
    	0%   { right: -300px; }
    	100% { right: 0; }
    }
    .pushbar .btn-close{
      position: absolute;
      margin-left: -53px;
      border-radius: 4px 0 0 4px;
      padding: 4px 8px;
      background: rgb(254, 187, 51);
      color: rgb(34, 34, 34);
    }




.figure-close{
  font-size: 20px;
}
.figure-menu{
    font-size: 30px;
  }
  .figure-magnifier{
    font-size: 20px;
  }
  .figure-close:before {
    content: "\e903";
  }
  .figure-menu:before {
    content: "\e624";
  }
  .figure-magnifier:before {
    content: "\e632";
  }
  .figure-next:before {
    content: "\e8ef";
  }
  .figure-prev:before {
    content: "\e904";
  }
