@font-face {
  font-family: "iconfont"; /* Project id 4511901 */
  src: url('iconfont.woff2?t=1713338311323') format('woff2'),
       url('iconfont.woff?t=1713338311323') format('woff'),
       url('iconfont.ttf?t=1713338311323') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.figure-HOME_PLATE_1:before {
  content: "\e73a";
}

.figure-HOME_PLATE_2:before {
  content: "\e73b";
}

.figure-a-29:before {
  content: "\e737";
}

.figure-a-115:before {
  content: "\e738";
}

.figure-a-314:before {
  content: "\e739";
}

.figure-a-413:before {
  content: "\e734";
}

.figure-a-24:before {
  content: "\e735";
}

.figure-a-14:before {
  content: "\e736";
}

.figure-a-412:before {
  content: "\e731";
}

.figure-a-114:before {
  content: "\e732";
}

.figure-a-313:before {
  content: "\e733";
}

.figure-a-113:before {
  content: "\e72f";
}

.figure-a-28:before {
  content: "\e730";
}

.figure-a-311:before {
  content: "\e727";
}

.figure-a-26:before {
  content: "\e728";
}

.figure-a-111:before {
  content: "\e729";
}

.figure-a-410:before {
  content: "\e72a";
}

.figure-a-27:before {
  content: "\e72b";
}

.figure-a-312:before {
  content: "\e72c";
}

.figure-a-112:before {
  content: "\e72d";
}

.figure-a-411:before {
  content: "\e72e";
}

.figure-a-48:before {
  content: "\e721";
}

.figure-a-39:before {
  content: "\e722";
}

.figure-a-310:before {
  content: "\e723";
}

.figure-a-49:before {
  content: "\e724";
}

.figure-a-110:before {
  content: "\e725";
}

.figure-a-25:before {
  content: "\e726";
}

.figure-a-47:before {
  content: "\e71e";
}

.figure-a-19:before {
  content: "\e71f";
}

.figure-a-38:before {
  content: "\e720";
}

.figure-a-45:before {
  content: "\e719";
}

.figure-a-36:before {
  content: "\e71a";
}

.figure-a-46:before {
  content: "\e71b";
}

.figure-a-18:before {
  content: "\e71c";
}

.figure-a-37:before {
  content: "\e71d";
}

.figure-a-43:before {
  content: "\e712";
}

.figure-a-34:before {
  content: "\e713";
}

.figure-a-15:before {
  content: "\e714";
}

.figure-a-16:before {
  content: "\e715";
}

.figure-a-35:before {
  content: "\e716";
}

.figure-a-44:before {
  content: "\e717";
}

.figure-a-17:before {
  content: "\e718";
}

.figure-a-33:before {
  content: "\e70c";
}

.figure-a-13:before {
  content: "\e70d";
}

.figure-a-23:before {
  content: "\e70e";
}

.figure-a-42:before {
  content: "\e70f";
}

.figure-a-32:before {
  content: "\e70b";
}

.figure-a-22:before {
  content: "\e709";
}

.figure-a-12:before {
  content: "\e70a";
}

.figure-a-31:before {
  content: "\e706";
}

.figure-a-11:before {
  content: "\e707";
}

.figure-a-21:before {
  content: "\e708";
}

.figure-a-41:before {
  content: "\e705";
}

.figure-a-2:before {
  content: "\e701";
}

.figure-a-4:before {
  content: "\e702";
}

.figure-a-1:before {
  content: "\e703";
}

.figure-a-3:before {
  content: "\e704";
}

