@font-face {
  font-family: "figure"; /* Project id 4325194 */
  src: url('iconfont.woff2?t=1714963147311') format('woff2'),
       url('iconfont.woff?t=1714963147311') format('woff'),
       url('iconfont.ttf?t=1714963147311') format('truetype'),
       url('iconfont.svg?t=1714963147311#figure') format('svg');
}

.figure {
  font-family: "figure" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.figure-STITCHING-1:before {
  content: "\e762";
}

.figure-STITCHING-3:before {
  content: "\e763";
}

.figure-STITCHING-2:before {
  content: "\e764";
}

.figure-PALM-1:before {
  content: "\e750";
}

.figure-LEATHER_1-1:before {
  content: "\e74e";
}

.figure-LEATHER_1-2:before {
  content: "\e74f";
}

.figure-WEB-3:before {
  content: "\e6e4";
}

.figure-WEB-1:before {
  content: "\e6e5";
}

.figure-WEB-2:before {
  content: "\e6e6";
}

.figure-WRIST_STRAP-1:before {
  content: "\e6e2";
}

.figure-WRIST_STRAP-2:before {
  content: "\e6e3";
}

.figure-FINGER_HOOD-1:before {
  content: "\e6d0";
}

.figure-FINGER_HOOD-2:before {
  content: "\e6df";
}

.figure-CROWN-2:before {
  content: "\e6e0";
}

.figure-CROWN-1:before {
  content: "\e6e1";
}

.figure-LACES-3:before {
  content: "\e6d1";
}

.figure-LACES-1:before {
  content: "\e6dd";
}

.figure-LACES-2:before {
  content: "\e6de";
}

.figure-LOGO_COLOR-2:before {
  content: "\e6d3";
}

.figure-LOGO_COLOR-1:before {
  content: "\e6da";
}

.figure-LEATHER_1-3:before {
  content: "\e6db";
}

.figure-PALM-3:before {
  content: "\e6d5";
}

.figure-PALM-2:before {
  content: "\e6d9";
}

.figure-BINDING-3:before {
  content: "\e6cd";
}

.figure-BINDING-2:before {
  content: "\e6ce";
}

.figure-BINDING-1:before {
  content: "\e6cf";
}

