@font-face {
  font-family: "figure"; /* Project id 4528872 */
  src: url('iconfont.woff2?t=1729174547111') format('woff2'),
       url('iconfont.woff?t=1729174547111') format('woff'),
       url('iconfont.ttf?t=1729174547111') format('truetype'),
       url('iconfont.svg?t=1729174547111#figure') format('svg');
}

.figure {
  font-family: "figure" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.figure-STITCHING-2:before {
  content: "\e789";
}

.figure-STITCHING-1:before {
  content: "\e78a";
}

.figure-KIP_PALM_LINER-1:before {
  content: "\e777";
}

.figure-KIP_PALM_LINER-4:before {
  content: "\e778";
}

.figure-KIP_PALM_LINER-3:before {
  content: "\e776";
}

.figure-KIP_PALM_LINER-2:before {
  content: "\e779";
}

.figure-LEATHER_1-2:before {
  content: "\e76d";
}

.figure-LEATHER_1-1:before {
  content: "\e76e";
}

.figure-STITCHING-3:before {
  content: "\e76a";
}

.figure-STITCHING-4:before {
  content: "\e76c";
}

.figure-WEB-3:before {
  content: "\e75d";
}

.figure-LACES-3:before {
  content: "\e75b";
}

.figure-LACES-2:before {
  content: "\e75c";
}

.figure-LACES-1:before {
  content: "\e75a";
}

.figure-PALM-2:before {
  content: "\e743";
}

.figure-PALM-1:before {
  content: "\e744";
}

.figure-WEB-1:before {
  content: "\e745";
}

.figure-WEB-2:before {
  content: "\e746";
}

.figure-LEATHER_3-1:before {
  content: "\e747";
}

.figure-LEATHER_2-3:before {
  content: "\e73c";
}

.figure-LEATHER_2-2:before {
  content: "\e73d";
}

.figure-LEATHER_2-1:before {
  content: "\e73e";
}

.figure-LEATHER_3-4:before {
  content: "\e73a";
}

.figure-LEATHER_3-3:before {
  content: "\e738";
}

.figure-BINDING-3:before {
  content: "\e72f";
}

.figure-WRIST-1:before {
  content: "\e724";
}

.figure-WRIST-4:before {
  content: "\e725";
}

.figure-WRIST-2:before {
  content: "\e726";
}

.figure-LACES-4:before {
  content: "\e722";
}

.figure-HOME_PLATE-2:before {
  content: "\e71e";
}

.figure-HOME_PLATE-1:before {
  content: "\e71f";
}

.figure-WINGTIP_THUMB-2:before {
  content: "\e71b";
}

.figure-WINGTIP_THUMB-3:before {
  content: "\e71c";
}

.figure-WINGTIP_THUMB-1:before {
  content: "\e71d";
}

.figure-PALM-3:before {
  content: "\e711";
}

.figure-WINGTIP_PINKY-4:before {
  content: "\e708";
}

.figure-WINGTIP_PINKY-3:before {
  content: "\e709";
}

.figure-WELTING-1:before {
  content: "\e70a";
}

.figure-WELTING-4:before {
  content: "\e70b";
}

.figure-WELTING-3:before {
  content: "\e70c";
}

.figure-WELTING-2:before {
  content: "\e70d";
}

.figure-LOGO_COLOR-1:before {
  content: "\e6fd";
}

.figure-LOGO_COLOR-2:before {
  content: "\e6fe";
}

.figure-LEATHER_8-4:before {
  content: "\e6ff";
}

.figure-LEATHER_8-1:before {
  content: "\e700";
}

.figure-LEATHER_8-3:before {
  content: "\e701";
}

.figure-LEATHER_7-3:before {
  content: "\e702";
}

.figure-LEATHER_7-4:before {
  content: "\e703";
}

.figure-LEATHER_7-1:before {
  content: "\e704";
}

.figure-LEATHER_6-1:before {
  content: "\e705";
}

.figure-LEATHER_6-4:before {
  content: "\e706";
}

.figure-LEATHER_6-3:before {
  content: "\e707";
}

.figure-LEATHER_4-3:before {
  content: "\e6f1";
}

.figure-LEATHER_4-4:before {
  content: "\e6f2";
}

.figure-LEATHER_2-4:before {
  content: "\e6f9";
}

.figure-LEATHER_1-3:before {
  content: "\e6fc";
}

.figure-LEATHER_5-4:before {
  content: "\e6ed";
}

.figure-LEATHER_5-1:before {
  content: "\e6ee";
}

.figure-LEATHER_5-3:before {
  content: "\e6ef";
}

.figure-LEATHER_4-1:before {
  content: "\e6f0";
}

.figure-BINDING-4:before {
  content: "\e6e3";
}

.figure-BINDING-2:before {
  content: "\e6eb";
}

.figure-BINDING-1:before {
  content: "\e6ec";
}

