@font-face {
  font-family: "iconfont"; /* Project id 4320349 */
  src: url('iconfont.woff2?t=1699369018732') format('woff2'),
       url('iconfont.woff?t=1699369018732') format('woff'),
       url('iconfont.ttf?t=1699369018732') format('truetype'),
       url('iconfont.svg?t=1699369018732#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.figure-WEB-4:before {
  content: "\e6cb";
}

.figure-STITCHING-1:before {
  content: "\e6cc";
}

.figure-STITCHING-4:before {
  content: "\e6cd";
}

.figure-STITCHING-2:before {
  content: "\e6ce";
}

.figure-STITCHING-3:before {
  content: "\e6cf";
}

.figure-PALM-3:before {
  content: "\e6d0";
}

.figure-WRIST-1:before {
  content: "\e6c2";
}

.figure-WRIST-4:before {
  content: "\e6c3";
}

.figure-WINGTIP_THUMB-2:before {
  content: "\e6c4";
}

.figure-WELTING-2:before {
  content: "\e6c5";
}

.figure-WELTING-4:before {
  content: "\e6c6";
}

.figure-WELTING-1:before {
  content: "\e6c7";
}

.figure-WEB-2:before {
  content: "\e6c8";
}

.figure-WEB-1:before {
  content: "\e6c9";
}

.figure-WEB-3:before {
  content: "\e6ca";
}

.figure-CROWN_COLOR-1:before {
  content: "\e6b5";
}

.figure-CROWN_COLOR-2:before {
  content: "\e6bd";
}

.figure-CROWN_COLOR-4:before {
  content: "\e6be";
}

.figure-BINDING-1:before {
  content: "\e6b4";
}

.figure-BINDING-4:before {
  content: "\e6bf";
}

.figure-BINDING-3:before {
  content: "\e6c0";
}

.figure-BINDING-2:before {
  content: "\e6c1";
}

.figure-LEATHER_1-4:before {
  content: "\e6b7";
}

.figure-LEATHER_1-1:before {
  content: "\e6b8";
}

.figure-LEATHER_1-2:before {
  content: "\e6b9";
}

.figure-LACES-3:before {
  content: "\e6b6";
}

.figure-LACES-4:before {
  content: "\e6ba";
}

.figure-LACES-2:before {
  content: "\e6bb";
}

.figure-LACES-1:before {
  content: "\e6bc";
}

