@font-face {
  font-family: "figure"; /* Project id 4663189 */
  src: url('iconfont.woff2?t=1724417880961') format('woff2'),
       url('iconfont.woff?t=1724417880961') format('woff'),
       url('iconfont.ttf?t=1724417880961') format('truetype'),
       url('iconfont.svg?t=1724417880961#figure') format('svg');
}

.figure {
  font-family: "figure" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.figure-youtube:before {
  content: "\1e62d";
}

.figure-facebook:before {
  content: "\1e635";
}

.figure-twitter:before {
  content: "\e882";
}

.figure-instagram:before {
  content: "\1e88f";
}

.figure-linkedin:before {
  content: "\1e978";
}

.figure-diamond:before {
  content: "\1e6e6";
}

.figure-next:before {
  content: "\1e8ef";
}

.figure-prev:before {
  content: "\1e904";
}

.figure-magnifier:before {
  content: "\1e632";
}

.figure-close:before {
  content: "\1e903";
}

.figure-menu:before {
  content: "\1e624";
}

