@font-face {
  font-family: "iconfont"; /* Project id 4302422 */
  src: url('iconfont.woff2?t=1698242843447') format('woff2'),
       url('iconfont.woff?t=1698242843447') format('woff'),
       url('iconfont.ttf?t=1698242843447') format('truetype'),
       url('iconfont.svg?t=1698242843447#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.figure-WINGTIP_PINKY-3:before {
  content: "\e68a";
}

.figure-WINGTIP_PINKY-4:before {
  content: "\e68b";
}

.figure-WELTING-3:before {
  content: "\e68c";
}

.figure-WELTING-4:before {
  content: "\e68d";
}

.figure-WELTING-1:before {
  content: "\e68e";
}

.figure-WELTING-2:before {
  content: "\e68f";
}

.figure-Wrist-1:before {
  content: "\e684";
}

.figure-Wrist-4:before {
  content: "\e685";
}

.figure-Wrist-2:before {
  content: "\e686";
}

.figure-WINGTIP_THUMB-2:before {
  content: "\e687";
}

.figure-WINGTIP_THUMB-3:before {
  content: "\e688";
}

.figure-WINGTIP_THUMB-1:before {
  content: "\e689";
}

.figure-WEB-2:before {
  content: "\e67c";
}

.figure-WEB-1:before {
  content: "\e67d";
}

.figure-WEB-3:before {
  content: "\e67e";
}

.figure-PATCH_COLOR-1:before {
  content: "\e67f";
}

.figure-PATCH_COLOR-2:before {
  content: "\e680";
}

.figure-PALM-3:before {
  content: "\e681";
}

.figure-PALM-2:before {
  content: "\e682";
}

.figure-PALM-1:before {
  content: "\e683";
}

.figure-LOGO_COLOR-4:before {
  content: "\e672";
}

.figure-LEATHER_8-4:before {
  content: "\e673";
}

.figure-LEATHER_8-3:before {
  content: "\e674";
}

.figure-LEATHER_8-1:before {
  content: "\e675";
}

.figure-LEATHER_7-4:before {
  content: "\e676";
}

.figure-LEATHER_7-1:before {
  content: "\e677";
}

.figure-LEATHER_7-3:before {
  content: "\e678";
}

.figure-LEATHER_6-4:before {
  content: "\e679";
}

.figure-LEATHER_6-1:before {
  content: "\e67a";
}

.figure-LEATHER_6-3:before {
  content: "\e67b";
}

.figure-LOGO_COLOR-2:before {
  content: "\e66f";
}

.figure-LOGO_COLOR-1:before {
  content: "\e670";
}

.figure-LOGO_COLOR-3:before {
  content: "\e671";
}

.figure-LEATHER_4-3:before {
  content: "\e66e";
}

.figure-LEATHER_5-4:before {
  content: "\e669";
}

.figure-LEATHER_5-1:before {
  content: "\e66a";
}

.figure-a-35:before {
  content: "\e66b";
}

.figure-a-45:before {
  content: "\e66c";
}

.figure-a-17:before {
  content: "\e66d";
}

.figure-a-24:before {
  content: "\e667";
}

.figure-a-34:before {
  content: "\e668";
}

.figure-a-13:before {
  content: "\e65f";
}

.figure-a-42:before {
  content: "\e660";
}

.figure-LEATHER_3-3:before {
  content: "\e661";
}

.figure-LEATHER_2-1:before {
  content: "\e662";
}

.figure-LEATHER_2-2:before {
  content: "\e663";
}

.figure-LEATHER_2-4:before {
  content: "\e664";
}

.figure-LEATHER_2-3:before {
  content: "\e665";
}

.figure-LEATHER-1-1:before {
  content: "\e666";
}

.figure-HOME_PLATE-2:before {
  content: "\e65e";
}

.figure-LACES-2:before {
  content: "\e659";
}

.figure-LACES-4:before {
  content: "\e65a";
}

.figure-LACES-3:before {
  content: "\e65b";
}

.figure-LACES-1:before {
  content: "\e65c";
}

.figure-HOME_PLATE-1:before {
  content: "\e65d";
}

.figure-BINDING-4:before {
  content: "\e655";
}

.figure-BINDING-3:before {
  content: "\e656";
}

.figure-BINDING-2:before {
  content: "\e657";
}

.figure-BINDING-1:before {
  content: "\e658";
}

